<!-- public/index.html -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href="/">

    <title>Delivery Free - O seu delivery online completo!</title>

    <!-- CSS -->
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/style.css"> <!-- custom styles -->

    <!-- JS -->
    <script src="libs/angular/angular.min.js"></script>
    <script src="libs/angular-route/angular-route.min.js"></script>

    <!-- ANGULAR CUSTOM -->
    <script src="javascripts/controllers/PessoaController.js"></script>
    <script src="javascripts/services/PessoaService.js"></script>
    <script src="javascripts/routes.js"></script>
    <script src="javascripts/app.js"></script>
</head>
<body ng-app="pessoaApp">

	<!-- HEADER -->
	<nav id="nav-admin" class="navbar navbar-default navbar-greenblue navbar-fixed-top">
	    <div class="container-fluid">
		    <div class="navbar-header">
		    	<!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu" aria-expanded="false" aria-controls="navbar-menu">
		            <span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		        </button> -->
	   		    <a class="navbar-brand navbar-brand-centered" href="/">
		    		<img src="images/logo-white.svg" class="logo"/>
		    	</a>
	            
		    </div>
		    
		    <!-- LINK TO OUR PAGES. ANGULAR HANDLES THE ROUTING HERE -->
		    <ul class="nav navbar-nav navbar-right">
		        <li>
		        	<a href="/#/pessoas">3 <i class="fa fa-bell"></i></a>
		        </li>
		    </ul>
	    </div>
	</nav>

	<div class="container-fluid">


		<div class="row">

		    <div class="col-sm-3 col-md-2 sidebar">
		        <ul class="nav nav-sidebar">
		            <li><a href="admin/#/estabelecimento"><span class="glyphicon glyphicon-home fa-fw"></span> Estabelecimentos</a></li>
		            <li><a href="#"><span class="glyphicon glyphicon-list-alt fa-fw"></span> Itens</a></li>
		            <li><a href="admin/#/localidade"><span class="fa fa-map-marker fa-fw"></span> Localidades</a></li>
		        </ul>
		    </div>

		</div>

	    <!-- ANGULAR DYNAMIC CONTENT -->
	    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 content" ng-view></div>

	</div>

</body>
</html>