<h1 class="page-header">Estabelecimentos</h1>

<form>

	<div class="form-group">
		<label for="nome">Nome</label>
		<input class="form-control" id="nome">
	</div>

	<div class="row">
		<div class="col-sm-8">
			<div class="form-group">
				<label for="endereco">Endereço</label>
				<input class="form-control" id="endereco">
			</div>		
		</div>

		<div class="col-sm-4">
			<div class="form-group">
				<label for="endereco">Número</label>
				<input class="form-control" id="endereco">
			</div>
		</div>

	</div>

	

	

</form>